<div class="min-h-screen p-0" style="background-color: #f8f6e7">
  <h1 class="text-xl font-bold mb-6 text-gray-800">Admin Dashboard</h1>

  <!-- Courses Section -->
  <div class="mb-6">
    <h2 class="text-sm font-semibold mb-3">Courses</h2>

    <div *ngIf="loadingCourses" class="text-gray-600">
      Loading courses...Please wait
    </div>
    <div *ngIf="errorMessage" class="text-red-600">{{ errorMessage }}</div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <div
        *ngFor="let course of courses"
        (click)="selectCourse(course)"
        class="cursor-pointer p-4 rounded-lg shadow-md transition-transform transform hover:scale-105"
        [ngClass]="{
          'border-2 border-purple-600': selectedCourse?.id === course.id
        }"
        style="background-color: #d2ae39; color: #fff"
      >
        <h3 class="text-sm font-bold">{{ course.title }}</h3>
        <p class="text-sm mt-1">{{ course.description || "No description" }}</p>
      </div>
    </div>
  </div>

  <!-- Lessons Section -->
  <div *ngIf="selectedCourse" class="mt-8">
    <div class="flex items-center justify-between mb-4">
      <h2 class="text- font-semibold">
        Lessons for: {{ selectedCourse.title }}
      </h2>
      <button
        (click)="clearSelectedCourse()"
        class="px-4 text-sm py-2 rounded-full font-semibold text-white"
        style="background-color: #9635e4"
      >
        Back to Courses
      </button>
    </div>

    <div *ngIf="loadingLessons" class="text-gray-600">Loading lessons...Please wait</div>
    <div *ngIf="lessons.length === 0 && !loadingLessons" class="text-gray-700">
      No lessons found for this course.
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div
        *ngFor="let lesson of lessons"
        class="p-4 rounded-lg shadow-md"
        style="background-color: #fff"
      >
        <h3 class="text-sm font-bold text-gray-800">{{ lesson.title }}</h3>
        <p class="text-sm text-gray-600 mt-2">
          {{ lesson.content | slice : 0 : 100 }}...
        </p>
        <div *ngIf="lesson?.questions?.length" class="mt-2">
          <p class="font-semibold text-gray-700">Reflection Questions:</p>
          <ul class="list-disc list-inside">
            <li *ngFor="let q of lesson?.questions">{{ q.question }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
